
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

<h2>OpenShift is a cloud development Platform as a Service (PaaS) developed by Red Hat. It is an open source development platform, which enables the developers to develop and deploy their applications on cloud infrastructure. It is very helpful in developing cloud-enabled services. This tutorial will help you understand OpenShift and how it can be used in the existing infrastructure. All the examples and code snippets used in this tutorial are tested and working code, which can be simply used in any OpenShift setup by changing the current defined names and variables.</h2>

<h2> THe test nam is <%=person%></h2>

<h2>Json object </h2>

<p> <%= data.age %></p>
    <h1>This is a Heading</h1>
    <p>This is a paragraph.</p>

</body>
</html>
